body
{
    margin: 0;
    padding: 0;
}

h1
{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-weight: 700;
    font-size: 45px;

}

h2
{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-weight: 600;
    font-size: 30px;
}

a
{
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif;

}

p
{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: white;
}
/*HEADER*/

.header
{
    position: fixed;
	z-index: 100;
	

	display: flex;
    justify-content: space-between;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: black;
}

.header-logo
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img
{
    width: 250px;
    height: 75px;
}

.navigation
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav
{
    margin-left: 5%;
    width: 150px;
}

#first-nav-link.nav-link
{
    margin-left: 0;
}

.nav-link
{
    color: white;
    font-weight: 500;
    font-size: 20px;
}

.header-contacts
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.call
{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    margin-left: 5%;
}

.phone
{
    margin-left: 20px;
    color: white;
    font-weight: 500;
    font-size: 20px;
    
    width: 200px;

    margin: 0;
    padding: 0;
}

.feedback
{
    width: 150px;

    margin: 0;
    padding: 0;

   
}

.feedback-link
{
    font-size: 15px;
    margin-bottom: 15%;

    margin: 0;
    padding: 0;
    
	color: red;

}

.inst-img
{
    width: 40px;
    height: 40px;
}



/*CONTENT*/

.content
{
	

    display: flex;
    flex-direction: column;
}

.beauty
{
	margin-top: 5%;
}

.gif
{
    width: 100%;
    height: auto;
}

.services
{
    margin-top: 1%;
	display: flex;
	flex-direction: column;
}

.services-title
{
    margin-left: 40%;
}

.services-photo
{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: 7.5%;
	margin-top: 2.5%;
	width: 90%;
}

#first-photo.service-photo
{
	margin: 0;
}

.service-photo
{
	margin-left: 2.5%;
}

.pic
{
	width: 409px;
	height: 506px;
	filter: brightness(50%);
}

.pic:hover
{
	filter: brightness(100%);
	width: 420px;
	height: 517px;

}

.first-text
{
	color: white;
	position: absolute;
	z-index: 10;
	
	margin-top: 350px;
	margin-left: 4%;

	font-family:serif;
	font-size: 45px;
}

.second-text
{
	color: white;
	position: absolute;
	z-index: 10;
	
	margin-top: 350px;
	margin-left: 4%;

	font-family:serif;
	font-size: 45px;
}

.third-text
{
	color: white;
	position: absolute;
	z-index: 10;
	
	margin-top: 350px;
	margin-left: 4%;

	font-family:serif;
	font-size: 45px;
}

/*portfolio*/
.portfolio
{
	margin-top: 1%;
	display: flex;
	flex-direction: column;
}

.portfolio-title
{
	margin-left: 40%;
}

.portfolio-info
{
	display: flex;
	justify-content: center;
	margin-top: 5%;
}

.portfolio-info1
{
	display: flex;
	justify-content: center;
	margin-top: 5%;
}

.info-photo
{
	margin-left: 10%;
}


.info-discription
{
	margin-top: 10%;
}

.info-discription1
{
	margin-top: 10%;
	margin-left: 10%;
}

.text-pid
{
	font-family: serif;
	color: black;
	font-size: 20px;
}

.see-more
{
	
	margin-left: 5%;
	font-family: serif;
	color: black;
	font-weight: 700;
	font-size: 20px;
}


/*footer*/

.contacts-info
{
	display: flex;
	flex-direction: column;

	background-color: black;
	width: 100%;
}

.add-info
{
	margin-top: 1%;
	margin-left: 25%;
}

.ct-text
{
	font-family:serif;
    color: white;
    font-weight: 700;
    font-size: 45px;
}

.ai-text
{
	font-family:serif;
    color: white;
	font-size: 20px;
}

.inst-works
{
	display: flex;
	justify-content: flex-start;
}

#footer.instagram
{
	margin-left: 1%;
	margin-top: 1%;
}

.ci-inst
{
	font-family:serif;
    color: white;
	font-size: 20px;
}

.contacts-map
{
	margin-top: 2%;
	margin-left: 20%;
}
